<%- include('partials/inc_header.ejs') %>
<%- include('partials/inc_navi.ejs') %>
<%- include('partials/inc_form_start.ejs') %>

<div class="form-sub-main">
<p>Posted!</p>

<%- include('partials/inc_backToReportPage.ejs') %>

</div>

<%- include('partials/inc_form_end.ejs') %>

<%- include('partials/inc_footer.ejs') %>