<%- include('partials/inc_header.ejs') %>
<%- include('partials/inc_navi.ejs') %>
<%- include('partials/inc_form_start.ejs') %>

<div class="form-sub-main">

<form method="POST" action="/behaviour/reporting/morning/post">
    <label>

      <div class="form-group row text-info>
        <label for="example-date-input" class="form-control-label">Date</label>
        <div class="col-10">
          <input class="form-control" name="day" type="date" value="<%= date %>" id="example-date-input">
        </div>
        
        <div class="form-group form-inline">
          <input type="number" class="form-control" name="SleepDuration" id="SleepDuration" aria-describedby="SleepDurationHelp" min="0" placeholder="Sleep duration in hours">
        </div>

        <label for="rangeInput1" class="form-control-label">Sleep Quality</label>
        <input id = "rangeInput1" type="range" name="SleepQuality" min="1" max="5" value="1" oninput="amount1.value=rangeInput1.value"/>
        <output id="amount1" name="amount" for="rangeInput1">1</output>


        <label for="rangeInput2" class="form-control-label">Generic mood</label>
        <input id = "rangeInput2" type="range" name="GenericMood" min="1" max="5" value="1" oninput="amount2.value=rangeInput2.value"/>
        <output id="amount2" name="amount" for="rangeInput2">1</output>

        <button type="submit" class="btn btn-primary">Report!</button>

        <%- include('partials/inc_errors.ejs') %>

        <%- include('partials/inc_backToReportPage.ejs') %>
        </div>

  </label>
</form>

</div>

<%- include('partials/inc_form_end.ejs') %>

<%- include('partials/inc_footer.ejs') %>