<%- include('partials/inc_header.ejs') %>
<%- include('partials/inc_navi.ejs') %>
<%- include('partials/inc_form_start.ejs') %>
<div class="form-sub-main">
<p>Registration successful!</p>
<div class="form-group">
    <div class="btn_uy">
    <a href="/auth/login"><span>Login</span></a>
    </div>
</div>

</div>

<%- include('partials/inc_form_end.ejs') %>

<%- include('partials/inc_footer.ejs') %>