<%- include('partials/inc_header.ejs') %>
<%- include('partials/inc_navi.ejs') %>
<%- include('partials/inc_form_start.ejs') %>
<div class="form-sub-main">
<h1>Register!</h1>
<form method="POST" action="/auth/registration">

  <div class="form-group form-inline">
    <input type="email" class="form-control" name="email" id="email" value="<%=email%>" aria-describedby="emailHelp" placeholder="Enter email">
  </div>

  <div class="form-group form-inline">
    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" minlength="4">
  </div>

  <div class="form-group form-inline">
    <input type="password" class="form-control" id="verification" name="verification" placeholder="Verify password" minlength="4">
  </div>

  <button type="submit" class="btn btn-primary">Login!</button>


  <%- include('partials/inc_errors.ejs') %>

  </div>


  </form>





</div>

<%- include('partials/inc_form_end.ejs') %>

<%- include('partials/inc_footer.ejs') %>