<%- include('partials/inc_header.ejs') %>
<%- include('partials/inc_navi.ejs') %>
<%- include('partials/inc_form_start.ejs') %>
<div class="form-sub-main  mk-width-700">
<h1>Your summary</h1>
<form method="POST" action="/summary">
    <p>
        <strong>Select week:
            <br>
        </strong>
    <br>
    <input type="week" name="week" value="<%= week %>"/>
    </p>
    <h3 class="hw">Statistics for the week:</h3>
    </p>
    <% if (weeklySummary.sleep_duration == 0 && weeklySummary.sleep_quality == 0 && weeklySummary.generic_mood_morning == 0 && weeklySummary.exercise_time == 0 && weeklySummary.studying_time == 0 && weeklySummary.eating_reqularity == 0 && weeklySummary.eating_quality == 0 && weeklySummary.generic_mood_evening == 0) { %>
        <p>No data for given week exists.
            <br>
        </p>
    <% } else { %>

        <div class="data-div more-width">
            <table class="data-table">
                <tr>
                    <td class="td-right">
                        <p>Average sleep duration in hour(s): </p>
                    </td>
                    <td class="td-left">
                        <p><strong>&nbsp&nbsp<%= weeklySummary.sleep_duration %></strong></p>
                    </td>
                </tr>
                <tr>
                    <td class="td-right">
                        <p>Average sleep quality:  </p>
                    </td>
                    <td class="td-left">
                        <p><strong>&nbsp&nbsp<%= weeklySummary.sleep_quality %></strong></p>
                    </td>
                </tr>
                <tr>
                    <td  class="td-right">
                        <p>Average generic mood on morning: </p>
                    </td>
                    <td class="td-left">
                        <p><strong>&nbsp&nbsp<%= weeklySummary.generic_mood_morning %></strong></p>
                    </td>
                </tr>
                <tr>
                    <td  class="td-right">
                        <p>Average exercise time in hour(s):</p>
                    </td>
                    <td class="td-left">
                        <p><strong>&nbsp&nbsp<%= weeklySummary.exercise_time %></strong></p>
                    </td>
                </tr>
                <tr>
                    <td  class="td-right">
                        <p> Average studying time in hour(s): </p>
                    </td>
                    <td class="td-left">
                        <p><strong>&nbsp&nbsp<%= weeklySummary.studying_time %></strong></p>
                    </td>
                </tr>
                <tr>
                    <td  class="td-right">
                        <p>Average eating reqularity: </p>
                    </td>
                    <td class="td-left">
                        <p><strong>&nbsp&nbsp<%= weeklySummary.eating_reqularity %></strong></p>
                    </td>
                </tr>
                <tr>
                    <td  class="td-right">
                        <p>Average eating quality: </p>
                    </td>
                    <td class="td-left">
                        <p><strong>&nbsp&nbsp<%= weeklySummary.eating_quality %></strong></p>
                    </td>
                </tr>
                <tr>
                    <td  class="td-right">
                        <p>Average generic mood on evening: </p>
                    </td>
                    <td class="td-left">
                        <p><strong>&nbsp&nbsp<%= weeklySummary.generic_mood_evening %></strong></p>
                    </td>
                </tr>                                
            </table>
        </div>


    <% } %>
    


    <p>    
        <strong>Select Month:
            <br>
        </strong>
    <br>
    <input type="month" name="month" value="<%= month %>" />
    </p>
    <h3 class="hw">Statistics for the month:</h3>
    </p>
    <% if (monthlySummary.sleep_duration == 0 && monthlySummary.sleep_quality == 0 && monthlySummary.generic_mood_morning == 0 && monthlySummary.exercise_time == 0 && monthlySummary.studying_time == 0 && monthlySummary.eating_reqularity == 0 && monthlySummary.eating_quality == 0 && monthlySummary.generic_mood_evening == 0) { %>
        <p>No data for given month exists.
            <br>
        </p>
    <% } else { %>

        <div class="data-div more-width">
            <table class="data-table">
                <tr>
                    <td class="td-right">
                        <p>Average sleep duration in hour(s): </p>
                    </td>
                    <td class="td-left">
                        <p><strong>&nbsp&nbsp<%= monthlySummary.sleep_duration %></strong></p>
                    </td>
                </tr>
                <tr>
                    <td class="td-right">
                        <p>Average sleep quality:  </p>
                    </td>
                    <td class="td-left">
                        <p><strong>&nbsp&nbsp<%= monthlySummary.sleep_quality %></strong></p>
                    </td>
                </tr>
                <tr>
                    <td  class="td-right">
                        <p>Average generic mood on morning: </p>
                    </td>
                    <td class="td-left">
                        <p><strong>&nbsp&nbsp<%= monthlySummary.generic_mood_morning %></strong></p>
                    </td>
                </tr>
                <tr>
                    <td  class="td-right">
                        <p>Average exercise time in hour(s):</p>
                    </td>
                    <td class="td-left">
                        <p><strong>&nbsp&nbsp<%= monthlySummary.exercise_time %></strong></p>
                    </td>
                </tr>
                <tr>
                    <td  class="td-right">
                        <p> Average studying time in hour(s): </p>
                    </td>
                    <td class="td-left">
                        <p><strong>&nbsp&nbsp<%= monthlySummary.studying_time %></strong></p>
                    </td>
                </tr>
                <tr>
                    <td  class="td-right">
                        <p>Average eating reqularity: </p>
                    </td>
                    <td class="td-left">
                        <p><strong>&nbsp&nbsp<%= monthlySummary.eating_reqularity %></strong></p>
                    </td>
                </tr>
                <tr>
                    <td  class="td-right">
                        <p>Average eating quality: </p>
                    </td>
                    <td class="td-left">
                        <p><strong>&nbsp&nbsp<%= monthlySummary.eating_quality %></strong></p>
                    </td>
                </tr>
                <tr>
                    <td  class="td-right">
                        <p>Average generic mood on evening: </p>
                    </td>
                    <td class="td-left">
                        <p><strong>&nbsp&nbsp<%= monthlySummary.generic_mood_evening %></strong></p>
                    </td>
                </tr>                                
            </table>
        </div>
        
    <!--<li> Average sleep duration <%= monthlySummary.sleep_duration %> hour(s)</li>
    <li> Average sleep quality <%= monthlySummary.sleep_quality %> </li>
    <li> Average generic mood on morning <%= monthlySummary.generic_mood_morning %> </li>
    <li> Average exercise time <%= monthlySummary.exercise_time %> hour(s)</li>
    <li> Average studying time  <%= monthlySummary.studying_time %> hour(s)</li>
    <li> Average eating reqularity  <%= monthlySummary.eating_reqularity %> </li>
    <li> Average eating quality <%= monthlySummary.eating_quality %> </li>
    <li> Average generic mood on evening <%= monthlySummary.generic_mood_evening %> </li> -->

    <% } %>
    <p>

    </p>
    <button type="submit" class="btn btn-primary">Update summaries</button>
    <div class="form-group">
        <div class="btn_uy">
        <a href="/"><span>Back to main page</span></a>
        </div>
    </div>
</form>

</div>

<%- include('partials/inc_form_end.ejs') %>

<%- include('partials/inc_footer.ejs') %>
